# out folder
out

# intermediate latex files
*.lop
*.synctex*
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.lop
*.out
*.pyg
*.toc
*.bbl
*.blg
*.pygstyle
*.pygtex
_minted-*

# resulting pdf documents
main.pdf